@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eef4fa;
  background-color: #0d1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.relative::after {
  content: '';
  display: inline-block;
  background: #eef4fa;
  height: 1px;
  margin-top: 1.5em;
  width: 6em;
}
